.navbar{
  padding:1.5rem 4rem;
  margin-right: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.navbar li{
  margin-left: 2rem;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;

}
.navbar li:hover{
  color: blue;
}