.company-activities{
  display: flex;
  margin-right: 2.2rem;
  margin-top: 1.2rem;
}
.company-activities-form{
  margin-right: 1.5rem;
  position: relative;

}
.company-activities-form h4{
  font-size: 20px;
line-height: 24px;
color: #022950;

}

.company-feedback-btn{
  width: 100px;
height: 38px;
background: #0352A0;
border-radius: 10px;border: none;
color: #E58A7B;
font-family: 'Public Sans';
font-weight: 700;
font-size: 20px;
text-align: center;
right: 0;
z-index: 999;
cursor: pointer;
position: absolute;
}
.company-textarea{
  color: black;  
  background: #FFFFFF;
  border: 1px solid lightblue;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 30rem;
  height: 8rem;
}
.employee-list h4{
  font-size: 20px;
  line-height: 24px;
  color: #022950;
}

.add{
  width: 570px;
height: 102px;
left: 1238px;
top: 262px;

background: #A1C4E6;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.add button{
    border: none;
    color: #E58A7B;
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    z-index: 999;
    cursor: pointer;

    width: 512px;
height: 41px;
background: #0352A0;
border-radius: 10px;

position: absolute;
}