
.subscribe-review{
  display: flex;
  margin-left: 8rem;
  margin-top: 1rem;
}
.subscribe-cond{
  max-width: 40rem;
}
.subscribe-cond p{
  font-weight: 400;
font-size: 18px;
line-height: 25px;
/* or 139% */


color: #263238;

}

.subscribe-review img{
  margin-right: 4rem;
  width: 378px;
height: 320px;
border-radius: 10px;

}

.subscribe-review h2{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;  
  color: #022950;
  margin: 0;
  
}

.subscribe-access{
  margin-inline: 4rem;
}

.subscribe-access h4{
  font-weight: 700;
  font-size: 1.2rem;  
  color: #022950;
font-size: 24px;
margin: 0;


padding-top: 2rem;
padding-bottom: .8rem;

  
}

.signup-img{
  border-radius: 50%;
  width:40px;
}
.sub{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sub-form{
  outline: none;
  border: none;
  border-radius: 20px;
  background: rgba(116, 169, 222, 0.65);
  border-radius: 5px;
  width: 360px;
  position: relative;
}
.sub-form h2{
font-weight: 700;
font-size: 1.25rem;
line-height: 24px;

color: #022950;

}
.subscribe-list{
  position: relative;
}
.subscribe-img{
  text-align: center;
}

.subscribe-list img{
  height: 10rem;
 width: 15rem;

}
.subscribe-list li{
  font-size: 1rem;
font-weight: 400;
line-height: 24px;
color: #022950;
}

.sub-btn{
  text-align: center;
}
.subscribe-btn{
  border: none;
  margin-block: 1rem;
  height: 2.5rem;

}
