 .sidebar{
  height: 100vh;
  padding-top: 1.8rem;

}

.sidebar-logo{
  margin-left: 1.5rem;

  width: 60px;
height: 62.72px;

border-radius: 50px;
}

.sidebar ul{
  margin: 0;
  padding-top: 2rem;
}

.link-sidebar{
  list-style: none;
  text-align: left;
  margin-bottom: .2rem;
  
}


.link-sidebar a{
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  color: #022950;
  padding: .4rem 1rem;
  text-decoration: none;

  display: flex;
  align-items: center;

 margin-bottom: 1.2rem;

}
.link-sidebar p{
  padding: 0;
  margin: 0;
}
.sidebar-img{
  width: 20px;
height: 20px;
margin-right: .5rem;
}


.active{
  background: #A1C4E6;
  border-radius: 10px; 
}



