.sidebar{
  width: 13rem;
  height: 100vh;

}
.sidebar-logo{
  width: 80px;
  margin-left: 1.8rem;
  margin-block: 1rem;
}
.sidebar ul{
  margin: 0;
  margin-left: 1rem;
}
.sidebar li{
  list-style: none;
  display:flex;
  align-items: center;
  text-align: left;
  margin-bottom: .8rem;
  padding-top: .5rem;
  
}

.link{
  display: flex;
  align-items: center;
  padding-top: 1rem;
  text-decoration: none;

 
}
.link a{
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  width: 100%;
  padding-left: .5rem;
  height: 40px;
  font-family: 'Public Sans';
  color: #022950;
  padding: 0;
  padding-top: .2rem;

}

.link span{
  padding-left: .5rem;
  
}

.active{
  background: #A1C4E6;
  border-radius: 10px; 
}
.sidebar-img{
  width: 20%;
  margin:0;
  height: 1.5rem;
  padding-left: .5rem;
  padding-top: .3rem;
}