.dashboard{
  display: flex;
  overflow: hidden;
  /* margin-bottom: 3rem; */
}
.content{
  margin-top: 2rem;
  margin-left: 2rem;
  width: 90%;

}
.content h2{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1.675rem;
color: #191970;

}
.content-header{
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;

}
.activities{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 1rem;
  margin-top: 2rem;
}
.tech{
  text-align: center;
  border-radius: 10px;
}
.tech img{
  width: 90%;
  height: 16rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.tech h4{
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
  color: #022950;


}
.mental{
  text-align: center;
  border-radius: 30px;
}
.mental img{
  width: 90%;
  height: 16rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.mental h4{
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
  color: #022950;
}
.company{
  text-align: center;
  border-radius: 30px;
}
.company img{
  width: 90%;
  height: 16rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.company h4{
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
  color: #022950;
}
.recent-activities{
  padding-top: 2.5rem;
  margin-left: 3.5rem;
  width: 100%;
}
.recent-activities h3{
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  padding-block:.5rem;
  font-weight: 600;
  color: #E58A7B;

}
.recent-activities table{
  width: 60%;
}
.action{
  display: flex;
  align-items: center;
}
.action img{
  width: 30px;
}

.action span{
  /* padding-left: 1rem; */
  font-weight: 400;
  font-size: 16px;
  color: #273E70;

}
th{
  padding-bottom: .5rem;
  text-align: left;
  font-weight: 700;
  font-size: 1.1rem;
  color: #022950;

}

td{
  text-align: left;
  padding:.2rem 0rem;
    font-size: 1.1rem;

}
.complete{
  font-weight: 400;
  font-size: 1.1rem;
  color: #2FAE4B;

}
.date{
  font-weight: 400;
  font-size: 1.1rem;
  color: #273E70;

}
