.trainings{
  display: flex;
}
.trainings-scheduled{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap:2rem;
  margin-top: 2rem;
  margin-right: 2rem;
}
.scheduled{
  margin-top: 1rem;
  width: 30%;
  padding: .2rem 1rem;
}
.company-scheduled{
  margin-bottom: 1.5rem;
background-color: #A1C4E6;
border-radius: 5px;
padding: .5rem;
}

.company-scheduled h4{
  margin: 0;
  font-weight: 700;
font-size: 22px;
line-height: 28px;

color: #022950;
}

.company-scheduled button{
  width: 180px;
  height: 26.95px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #DF5753;
  
  background: #0352A0;
}
.trainings-ended{
  margin-bottom: 1.5rem;
background-color: #A1C4E6;
opacity: .7;
border-radius: 5px;
padding: .5rem;
}

.trainings-ended h4{
  margin: 0;
  font-weight: 700;
font-size: 22px;
line-height: 28px;

color: #022950;
}
.trainings-ended  button{
  width: 180px;
  height: 26.95px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #DF5753;
  background: #0352A0;
}