.signup{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  overflow: hidden;
}
.signup h2{
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
color: #191970;

}
.signup form{
  text-align: center;
  line-height: 2;
}
.signup input{
  width: 500px;
  height: 40px;
  background: #FDDA16;
  border-radius: 50px;
  outline: none;
  border: none;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;  
  
  color: #191970;
}

::placeholder{  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;  
  color: #191970;
  
}

.error-icon{
  height: 50px;
  width: 70px;
}

.error-icon-para{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #FF0000;
display: flex;
align-items: center;
justify-content: center;
margin-top: 2rem;


}

.error-icon-para span{
  padding-top: 1rem;
}
.nextIcon{
  width: 100%;
  margin-top: 1rem;
  border: none;
  background: transparent;
}
.nextIcon img{
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}
.e-tech-img{
  position: relative;
}
.e-tech-img img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}