.signup{
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  margin-top: 3rem;
  margin-right: 5rem;

}
.signup h2{
font-family: 'Public Sans';
font-weight: 700;
font-size: 24px;
color: #022950;
}


.form{
  background: rgba(116, 169, 222, 0.65);
  border-radius: 5px;
  width: 30%;

}
.form-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 5rem;
  padding-top: 1rem;
  border-bottom: 1px solid #0C62A0;
  margin-bottom: 1rem;
}

form{
  text-align: left;
  padding-left: 1rem;


 
}
.signup input{
  outline: none;
  border: none;
  margin-block: .6rem;
  font-weight: 700;
  font-size: 16px;  
height: 40px;
background: #FFFFFF;
border-radius: 5px;
}
.input{
  width: 80%;
  padding-left: 1rem;

}

.submit{
 text-align: center;
}
.submit p{
  font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #295076;
display: flex;
justify-content: center;
align-items: center;


}
.link{
  color: #E58A7B;
  text-decoration: underline;
  font-weight: 700;
  margin: 0;
}

input[type="submit" i] {
  background: #0352A0;
  border-radius: 5px;
  font-family: 'Public Sans';
  font-weight: 700;
  font-size: 24px;
  color: #E58A7B;
  padding: 0rem 1rem;
  text-align: center;
  cursor: pointer;
  
}

label{
  font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #022950;

}

.e-tech-img{
  position: relative;
}
.e-tech-img img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}